<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>kyndyn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconCRT</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconCRT</string></array>
				<key>UIPrerenderedIcon</key><false/>
			</dict>
			<key>AppIconArcade</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconArcade</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconAtomicAge</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconAtomicAge</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconJapandi</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconJapandi</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconLCD</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconLCD</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconOutrun</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconOutrun</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconOutrun2</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconOutrun2</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconPastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPastel</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRetroGame</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconRetroGame</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconTranslucent</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconTranslucent</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconTranslucentFoil</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconTranslucentFoil</string></array><key>UIPrerenderedIcon</key><false/></dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconCRT</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconCRT</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconArcade</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconArcade</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconAtomicAge</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconAtomicAge</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconJapandi</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconJapandi</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconLCD</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconLCD</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconOutrun</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconOutrun</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconOutrun2</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconOutrun2</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconPastel</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconPastel</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconRetroGame</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconRetroGame</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconTranslucent</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconTranslucent</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>AppIconTranslucentFoil</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIconTranslucentFoil</string></array><key>UIPrerenderedIcon</key><false/></dict>
		</dict>
	</dict>
	<key>CKSharingSupported</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kyndynfamily.kyndyn.sync-refresh</string>
	</array>
	<key>KyndynCloudKitContainerIdentifier</key>
	<string>$(KYNDYN_CLOUDKIT_CONTAINER_IDENTIFIER)</string>
	<key>KyndynCloudKitEnvironment</key>
	<string>$(KYNDYN_CLOUDKIT_ENVIRONMENT)</string>
	<key>KyndynCloudSyncConfigured</key>
	<string>$(KYNDYN_CLOUD_SYNC_CONFIGURED)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>NSFaceIDUsageDescription</key>
	<string>kyndyn uses Face ID to protect parent-only family settings and actions.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>kyndyn can show selected calendar events beside your family’s day. It never changes your calendars.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>kyndyn uses your approximate location while the app is open to show local weather.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
